<!--<pre> {{ user | json }}</pre>-->

<div class="container" *ngIf="user">
    <div class="jumbotron pb-4 pt-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <figure>
                    <img src="./assets/images/Logo-color.png" style="width: 200px;" alt="" class="rounded img-fluid">
                </figure>
            </div>
            <div class="col-md-4 text-center">
                <h2>{{ user.name + " " + user.lastname}}</h2>
                <p><strong>Email: </strong> {{ user.email }} </p>
                <div class="dropdown">
                    <a class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-cog"></span>
                    </a >
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <!--<button class="dropdown-item" type="button">Cambiar contraseña</button>
                      <button class="dropdown-item" type="button">Actualizar información</button>-->
                      <button class="dropdown-item" type="button" (click)="signout()">Cerrar Session</button>
                    </div>
                </div>
            </div>             
            <div class="col-md-4 text-center">
                <figure>
                    <img src="{{ user.photo }}" style="width: 100px;" alt="" class="rounded img-fluid">
                </figure>
            </div>
            
        </div>            
        <div class="row divider text-center  pt-2">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <a href="/notes" class="link">
                    <h2><strong> {{ countNotes }} </strong></h2>                    
                    <p><small>Cuardernos</small></p>
                </a>
                <button (click)="opemModalToCreateGroup()" class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Crear Cuaderno </button>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h2><strong>245</strong></h2>                    
                <p><small>Preguntas</small></p>
                <button (click)="otroTesst()" class="btn btn-info btn-block"><span class="fa fa-user"></span> Crear Pregunta</button>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h2><strong>{{ notifications.length }} </strong></h2>                    
                <p><small>Notificaciones</small></p>
                <div class="dropdown">
                    <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ver
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2" *ngFor="let n of notifications" > 
                      <button class="dropdown-item" type="button">{{ n.subject }}</button>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
</div>
   