<div class="modal-header">
      <h4 class="modal-title pull-left">Crear Cuaderno</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="this.bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="group.name" placeholder="Asignale un nombre a tu cuaderno">    
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button class="btn btn-success" (click)="this.save();">Guardar</button>
    </div>
</div>
