<h2>Lista de Categorias</h2>

<a href="/category/create" class="btn btn-success" >Crear</a>

<table class="table">
    <thead></thead>
    <tbody>
        <tr *ngFor="let a of listCategories">
            <td>{{ a.name }}</td>
            <td>{{ a.status }}</td>
            <td>
                <button class="btn btn-warning" (click)="changeStatus(a.id_public)">{{ a.status === 1 ? "Deshabilitar" : "Habilitar" }}</button>
                <a class="btn btn-primary" href="/category/{{a.id_public}}/edit">Editar</a>
            </td>
        </tr>
    </tbody>
</table>
