<a href="/question/create" class="btn btn-success">Crear</a>

<h1>Lista de Preguntas</h1>
<table class="table">
    <thead></thead>
    <tbody>
        <tr *ngFor="let a of listQuestion">
            <td>{{ a.question }}</td>
            <td>{{ a.category.name }}</td>
            <td>{{ a.category.status }}</td>
            <td>
                <button class="btn btn-warning" (click)="changeStatus(a.id_public)">{{ a.status === 1 ? "Deshabilitar" : "Habilitar" }}</button>
                <a class="btn btn-primary" href="/question/{{a.id_public}}/edit">Editar</a>
            </td>
        </tr>
    </tbody>
</table>