<a href="/questions">Volver</a>

<h1>Crear Pregunta</h1>

<select [(ngModel)]="question.category.id_public" >
    <option *ngFor="let c of question.categories" [ngValue]="c.id_public" [disabled]="c.status !== 1" > {{c.name}} </option>
</select>

<input type="text" [(ngModel)]="question.question" >

<button (click)="this.save()">Guardar</button>

<button (click)="this.consultar()">consultar</button>


