<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmación!!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>{{ message }}</p>
        <hr>
        <button type="button" class="btn btn-danger" (click)="confirm()" >SI</button>
        <button type="button" class="btn btn-default" (click)="decline()" >NO</button>
    </div>
</ng-template>