<app-user-data (refresh)="refresh()" [countNotes]="listGroups.length"></app-user-data>

<h2 class="text-center">Mis Cuardernos</h2>

<div class="content" role="main">
  <div class="card-container">
    <a *ngFor="let group of listGroups" class="card" href="/note/{{group.id_public}}/questions">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
      <span>{{ group.name }}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>
  </div>
</div>
