<a href="/group/{{ question.id_public_group }}/questions">Volver</a>

<h1>Actualizando Pregunta - Group {{ question.id_public_group }}</h1>

<select [(ngModel)]="question.category.id_public" >
    <option *ngFor="let c of question.categories" [ngValue]="c.id_public" [disabled]="c.status !== 1" > {{c.name}} </option>
</select>

<input type="text" [(ngModel)]="question.question" >

<button (click)="this.update()">Guardar</button>