<section>
    <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Crear una cuenta</h4>
        <div class="mx-auto text-center" >
            <img class="logo" src="./assets/images/Logo-color.png" alt="El Chismografo">
        </div>
        <p class="text-center">Inicia la experiencia con un nueva cuenta!!</p>
        <p>
            <a (click)="signInWithGoogle()" class="btn btn-block btn-google"> <i class="fab fa-google"></i>    Registrar con Google</a>
            <a (click)="signInWithFB()" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-square"></i>   Registrar con facebook</a>
        </p>
    </article>
    </div> <!-- card.// -->
</section>

