<app-user-data (refresh)="refresh()" [countNotes]="countGroups"></app-user-data>
<app-confirm-modal [message]="message" (confirm)="delete()" ></app-confirm-modal>


<h2 class="text-center" *ngIf="group">Cuarderno {{ group.name }}</h2>
<div class="btn btn-primary" (click)="getAnswer()">Actualizar</div>
<div class="btn btn-danger" (click)="confirm_delete()">Eliminar</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
   
    <div class="carousel-inner">
      <div *ngFor="let question of group.questions;let index = index;let isFirst = first" [ngClass]="{active:isFirst}" class="carousel-item" >
        <h1 class="text-center"> {{ question.question }} </h1>
        
        <pre [innerHTML]="listAnswers | json"></pre>

        <table class="table table-border">
          <thead></thead>
          <tbody>
            <tr *ngFor="let member of listAnswers">
              <td >
                {{ member.user.name }}
              </td>
              <td> {{member.text}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>